.accordion-item{
  padding: 10px;
  margin: 10px;

  box-shadow: 10px 10px 5px 0px rgba(230,224,224,0.86);
  -webkit-box-shadow: 10px 10px 5px 0px rgba(230,224,224,0.86);
  -moz-box-shadow: 10px 10px 5px 0px rgba(230,224,224,0.86);
}

.accordion-title{
  display :flex;
  justify-content: space-between;
}